<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    {% endblock %}
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    {% block stylesheet %}
    {% load static %}
    <!-- Replace if you want your own custom stylesheet -->
    <link rel="stylesheet" href= "{% static 'style.css' %}">
    {% endblock %}

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
      {% block head_title %}
        Replace this value with head tag
      {% endblock %}
    </title>
    </head>
    <body>
        <header class="navContainer">
            <nav class="navBar">
                <ul>
                    <li> <a href="{% url 'dashboard' %}">Dashboard</a> </li>
                    <li> <a href="{% url 'publish' %}">Publish</a> </li>
                    <li> <a href="{% url 'viewdb' %}">View database</a> </li>
                    <li> <a href="{% url 'profile' %}">Profile</a></li>
                </ul>
            </nav>
        </header>
        {% block body %}
        {% endblock %}
        <footer>
            <div class="footerDiv">
                <span class="closingText">
                    <p>Made with <i class="fa fa-heart fa-1x"></i> by Team 100</p>
                </span>
                <span class="github">
                    <a target="_blank" href="https://github.com/Fernandes42/Doctor-db"><i class="fa fa-github fa-2x generalcolor"></i></a>
                </span>
                <span class="twitter">
                    <a target="_blank" href="https://twitter.com/who"><i class="fa fa-twitter fa-2x generalcolor"></i></a>
                </span>
                <span class="facebook">
                    <a target="_blank" href="https://www.facebook.com/WHO/"><i class="fa fa-facebook fa-2x generalcolor"></i></a>
                </span>
            </div>
        </footer>
        <script>
        {% block js %}  {% endblock %}
        </script>
    </body>
</html>
