{% extends 'logged_in/base_loggedin.html' %}
{% load crispy_forms_tags %}

{% block head_title %} Data Input {% endblock %}

{% block stylesheet %}
    {% load static %}
    <!-- Replace if you want your own custom stylesheet -->
    <link rel="stylesheet" href= "{% static 'publishstyle.css' %}">
    <link rel="stylesheet" href= "{% static 'style.css' %}">
{% endblock %}


{% block body %}

<section>
    <div class="container">
        <h2>Add a new case</h2>
        <form class="publishF" action=" " method="post">
            {% csrf_token %}
            <table>
                {{ form|crispy }}
            </table>
            <input type="submit" value="Submit">
        </form>
    </div>
</section>
{% endblock %}

{% block js %}
{% endblock %}
