{% extends 'logged_in/base_loggedin.html' %}
{% block head %}
{% load static %}
<!--Load the AJAX API-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="{% static 'graphs.js' %}" type="text/javascript"></script>
  {% block stylesheet %}
  {% load static %}
  <!-- Replace if you want your own custom stylesheet -->
  <link rel="stylesheet" href= "{% static 'accessdbstyle.css' %}">
  <link rel="stylesheet" href= "{% static 'style.css' %}">
{% endblock %}
{% endblock %}

{% block body %}
<section class="chartSection">
  <div class="edit2">
    <label class="other" for="graphs">Choose a bar graph:</label>
    <select id="aUniqueId" class="edit">
      <option value="TreatvsDeceased">Medicine vs Number of People Deceased</option>
      <option value="TreatvsRecovered">Medicine vs Number of People Recovered</option>
      <option value="PopularTreatments">Popular Medicines</option>
      <option value="PreexistvsDeceased">Preexisting Conditions vs Number of Deceased</option>
      <option value="PreexistvsRecovered">Preexisting Conditions vs Number of Recovered</option>
    </select>
  </div>
  <div class="edit3">
    <label class="other" for="graphs">Choose a map graph:</label>
    <select id="other3" class="edit">
      <option value="PopularTreatmentCountry">Popular Treatments by Country</option>
      <option value="PopularStrain">Prevalescent COVID-19 Strain by Country</option>
      <option value="MostRecoveredRace">Race with Most Recoveries by Country</option>
      <option value="DeathliestRace">Race with Least Recoveries by Country</option>
    </select>
  </div>
    <div id="columnchart_values" style="width: 30%; height: 200px;"></div>
    <div id="regions_div" style="width: 50%; height: 500px;"></div>
    <div class="work">
    <h3>Map Color Code (Race): 0 = Caucasian, 1 = Negroid, 2 = Capoid, 3 = Mongoloid, 4 = Australoid <br><br>
        Map Color Code (COVID): 0 = L-Type, 1 = S-Type</h3>
    </div>
</section>

{% endblock %}
